@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height:100vh;
  margin:0;
  padding: 0;
}


.header{
   flex:0.07;
 }
 
 main{
   background-color:orange;
   flex:0.83
 }
 
 .footer{
   flex:0.1;
 }