@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height:100vh;
  margin:0;
  padding: 0;;
  overflow-y: scroll;
}


.header{
   flex:0.1;
 }
 
 main{
   flex:0.8;
 }
 
 .footer{
   flex:0.1;
 }